:root .theme-dark {
  --bg-color: #000;
  --accent-color: #00cc14;
  --text-color: #00cc14;
  --main-font-width: 400;
  --text-stroke-color: #000;
  --hover-color: #00cc14;
  --bg-image: repeating-linear-gradient(
      to right,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
}

:root .theme-light {
  --bg-color: #fff;
  --accent-color: #000;
  --text-color: #000;
  --main-font-width: 400;
  --text-stroke-color: #fff;
  --hover-color: #fff;
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --accent-color: #000;
    --text-color: #000;
    --text-stroke-color: #fff;
    --bg-image: repeating-linear-gradient(
        to right,
        #d3d3d3 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --main-font-width: 400;
  }

  :root .theme-auto {
    --bg-image: repeating-linear-gradient(
        to right,
        #d3d3d3 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --accent-color: #000;
    --text-color: #000;
    --main-font-width: 400;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --accent-color: #00cc14;
    --text-color: #00cc14;
    --text-stroke-color: #000;
    --hover-color: #00cc14;
    --bg-image: repeating-linear-gradient(
        to right,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c, #004306);
    --main-font-width: 400;
  }

  :root .theme-auto {
    --bg-image: repeating-linear-gradient(
        to right,
        #d3d3d3 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --accent-color: #00cc14;
    --text-color: #00cc14;
    --main-font-width: 400;
    --hover-color: #fff;
  }
}
