/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  background-size: 4px;
  background-repeat: repeat;
  background-attachment: fixed;
  display: grid;
  justify-items: center;
  font-variation-settings: "wght" var(--main-font-width);
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--bg-image);
}

.header {
  padding-block-start: clamp(7.5rem, -12.125rem + 175vw, 8.5rem);
  padding-block-end: 25px;
  margin-block-start: 100px;
  font-family: var(--accent-font-family);
  background: var(--bg-color);
  border: 2px solid var(--accent-color);
  inline-size: var(--width);
  display: grid;
  justify-items: center;
  gap: 20px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__item {
  font-size: 14px;
}

.theme-menu__list {
  margin-inline-start: 20px;
  display: grid;
  gap: 12px;
}

.theme-menu__button {
  position: relative;
  border: none;
  background: transparent;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.header__subtitle {
  margin-block-end: 5px;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  display: block;
  position: absolute;
  left: -14px;
  animation: moving 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
  transition: opacity 0.5s;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.content {
  inline-size: var(--width);
}

.card {
  background: var(--bg-color);
  border: 2px solid var(--accent-color);
  margin-block-start: 100px;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  opacity: 0.6;
  transform: scaleX(0);
  transform-origin: left;
  inset-inline-start: 0;
  inset-block-end: -5px;
  inline-size: 100%;
  block-size: 2px;
  transition: transform 0.3s ease;
}

.card__cover {
  margin-block-end: 27px;
}

.card__cover-image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.card__content {
  display: grid;
  gap: 27px;
  font-size: 18px;
  padding-inline: 25px;
  margin-block-start: -5px;
  margin-block-end: 25px;
}

.card__content-paragraph {
  line-height: 21px;
  font-variation-settings: "wght" 400;
}

.card__title {
  display: block;
  font-family: var(--main-font-family);
  border-block-end: 2px solid var(--accent-color);
  font-variation-settings: "wght" 700;
  font-size: 18px;
  padding: 5px 12px;
}

.card__footer {
  display: flex;
  justify-content: end;
  padding-inline: 25px;
  margin-block-start: 20px;
  margin-block-end: 20px;
}

.card__icon-button {
  border: none;
  cursor: pointer;
  background-color: var(--bg-color);
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.card__like-button {
  border: 2px solid var(--accent-color);
  background: var(--bg-color);
  font-family: var(--accent-font-family);
  inline-size: 130px;
  block-size: 38px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  line-height: 12.6px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button:hover {
  color: var(--bg-color);
}

.button:focus-visible {
  border: 2px solid var(--accent-color);
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button:hover::before {
  scale: 1;
  color: var(--bg-color);
}

.button::before {
  content: "";
  position: absolute;
  color: var(--accent-color);
  font-family: var(--text-color);
  background-color: var(--accent-color);
  inline-size: 100%;
  block-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.5s ease-in-out, color 1s ease;
}

.button__text {
  color: var(--hover-color);
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
}

.footer {
  display: grid;
  justify-content: center;
  inline-size: var(--width);
  padding: 50px 0 102px 0;
}

.footer_button {
  position: relative;
  min-inline-size: 306px;
  max-inline-size: 350px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;
  padding: 15px 21px 15px 19px;
  color: var(--text-color);
  background: var(--bg-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.footer__svg {
  position: relative;
  z-index: 10;
}

@media (width <= 410px) {
  :root {
    --width: 100%;
  }

  .header__title {
    margin-block-start: -18px;
  }

  .footer_button {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 8px;
    padding: 15px 20px 15px 20px;
  }
}
.card__image-wrapper {
  position: relative;
}

.card__image-label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  color: var(--text-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 0 0 1px var(--text-stroke-color);
}

@supports (
  (text-stroke: 1px var(--text-stroke-color)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color))
) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}
.image__grayscale {
  filter: grayscale(0.8);
}
.image__saturate {
  filter: saturate(400%);
}
.image__hue-rotate {
  filter: hue-rotate(50deg);
}
.image__invert {
  filter: invert(0.9);
}
.image__sepia {
  filter: sepia(80%);
}
.image__blur {
  filter: blur(0.2rem);
}
.image__rotate-opacity {
  filter: hue-rotate(50deg) opacity(0.5);
}
.modal {
  max-inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0;
  border: 2px solid var(--border-color);
}
.modal__wrapper {
  padding: 30px;
}
.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.floppy-svg {
  fill: var(--hover-color);
  width: 20px;
  height: 20px;
  mix-blend-mode: difference;
}

.modal__wrapper .floppy-svg {
  min-height: 39px;
  min-width: 39px;
}
.modal__title {
  text-transform: uppercase;
  font-size: 14px;
  font-family: var(--accent-font-family);
  line-height: 21px;
}
.modal__button {
  min-width: 100%;
  text-transform: uppercase;
  padding: 12px 0;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  /* transition: box-shadow 0.3s ease; */
}
